@import "tailwindcss";

:root {
  --color-bg: #0B0B0B;
  --color-surface: #141414;
  --color-accent: #22C55E;
  --color-text: #EAEAEA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0B0B0B;
}
::-webkit-scrollbar-thumb {
  background: #22C55E;
  border-radius: 2px;
}

/* Selection color */
::selection {
  background: #22C55E33;
  color: #22C55E;
}